/* .pet-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 250px;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.pet-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.pet-info {
  padding: 10px;
}

.pet-info h3 {
  margin: 0 0 5px 0;
}

.pet-info p {
  margin: 3px 0;
  font-size: 0.9rem;
} */
.pet-card-ui {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  overflow: hidden;
}

.pet-image-box {
  position: relative;
  height: 220px;
}

.pet-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-badge {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #a66cff;
  color: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.pet-price {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: #fff;
  font-weight: 500;
}

.pet-content {
  padding: 16px;
}

.pet-name {
  color: #7b4bff;
  margin-bottom: 10px;
}

.pet-content p {
  font-size: 14px;
  margin-bottom: 6px;
  color: #444;
}

.pet-actions {
  display: flex;
  gap: 10px;
  margin: 14px 0;
}

.outline-btn {
  flex: 1;
  padding: 8px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

.book-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #7b4bff, #9b6bff);
  border: none;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}
